.main-header
    display: flex
    justify-content: space-between
    align-items: center
    background: $white
    box-shadow: 0 2px 3px rgba(0,0,0, .15)

    .btn
        background: none
        border: none
        padding: 1.2rem 2.2rem
        font-size: 1.1rem
        font-weight: 600
        color: $black
        outline: none
        cursor: pointer
        &:after
            content: ''
            display: block
            height: 2px
            background: $black
            transform: translateY(100%)
            opacity: 0
            transition: all 0.1s ease-in-out
        &:hover
            color: darken($black, 10%)
        &:hover:after
            transform: translateY(0)
            opacity: 1

    .title
        font-size: 1.9rem
        color: $secondary
        font-weight: 400
        margin: 0 50% 0 0
        span
            font-weight: 600