@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,600')

$black: #304050
$grey: #485663
$primary: #253447
$secondary: #F2517D
$white: #FAFAFB
$blue: #2FABE1

body
    font-family: 'Fira Sans', sans-serif
    font-size: 16px

.outer-wrapper
    overflow: hidden
    .container
        height: 100vh
        transition: transform 0.2s ease-in-out
        &.toggled
            transform: translate3d(290px, 0, 0)
        
        main
            width: 900px
            margin: 0 auto
            display: flex
            flex-wrap: wrap

@import 'header'
@import 'sidebar'
@import 'recipe'